HELP.md
target/
build/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

.idea/
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

data/
*.mv.db
*.trace.db
*.h2.db

application.properties
application.yml

*.class
*.jar
*.war
*.log
*.tmp

src/main/java/com/**/grpc/*.java

.DS_Store
Thumbs.db
